/* CreateTaskButton.css */
.create-task-button {
    background-color: #4caf50; /* Yeşil renk */
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease; /* Geçiş efekti ekleme */
  }
  
  .create-task-button:hover {
    background-color: #45a049; /* Hover efekti */
  }
  
  .create-task-button:active {
    transform: scale(0.98); /* Buton basıldığında hafifçe küçülür */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Daha belirgin bir gölge */
  }
  